<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

	<head>
		<meta charset="ISO-8859-1">
		<meta name="import" content="width=device-width;initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<title>Insert title here</title>
	</head>
		<body>
		<div class="container">
			<h1>NEWS</h1>
			<h2 th:text="${title}"/>
			<p th:text="${text}"/>
			<a href="/index.html">link to Menu</a>
		</div>
		</body>
</html>