<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="import" content="width=device-width;initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>Seaplanes</h1>
		<a href="/index.html">link to Menu</a>
	<table class="table">
		<tr th:each="h:${l}">
			<td th:text="${h.outshore}" />
			<td th:text="${h.model}" />
			<td th:text="${h.registration}" />
		</tr>
	</table>
	</div>
</body>
</html>